<!--企业认证  onsubmit="return chenckForm()" -->

<form id="form-userInfo" onsubmit="return false">
    <!--基本信息-->
    <input type="hidden" th:id="${_csrf.parameterName}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">公司全称</label>
            <div class="col-sm-8">
                <input type="text" id="companyName" name="companyName" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">公司简称</label>
            <div class="col-sm-4">
                <input type="text" id="companyshort" name="companyshort" class="form-control"/>
            </div>
        </div>
        <div class="form-group" id="shshixianr">
            <label class="col-sm-2 control-label">注册地址</label>
            <div class="col-sm-8" >
                <div class="clearfix margin-bottom-15">
                    <div class="pull-left margin-right-10" id="component-regAddress-1" inputName="provincesr" inputValue="" ></div>
                    <div class="pull-left margin-right-10" id="component-regAddress-2" inputName="cityr" inputValue=""></div>
                    <div class="pull-left margin-right-10" id="component-regAddress-3" inputName="dictristor" inputValue=""></div>
                </div>
                <textarea class="form-control" id="regAddress"  name="regAddress" placeholder="请输入详细地址"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">通信地址</label>
            <div class="col-sm-8" id="shshixianc">
                <div class="clearfix margin-bottom-15">
                    <div class="pull-left margin-right-10" id="component-contactAddress-1"  inputName="provincesc" inputValue=""></div>
                    <div class="pull-left margin-right-10" id="component-contactAddress-2" inputName="cityc" inputValue=""></div>
                    <div class="pull-left margin-right-10" id="component-contactAddress-3" inputName="dictristorc" inputValue=""></div>
                </div>
                <textarea class="form-control" id="conAddress" name="conAddress" placeholder="请输入详细地址"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">代理人姓名</label>
            <div class="col-sm-4">
                <input type="text" id="agentName" name="agentName" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">代理人身份证号</label>
            <div class="col-sm-4">
                <input type="text"  id="agentCardId" name="agentCardId" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">代理人身份证正反面</label>
            <div class="col-sm-8 clearfix">
                <div class="img-uploadPhoto pull-left">
                    <a href="javascript:;" class="btn-file">
                        	上传人像面<input id="file1" name="file" type="file" onchange="upload(this)">
                    </a>
                   	<input type="text" id="file1-text" name="positive"/>
                </div>
                <div class="img-uploadPhoto pull-left">
                    <a href="javascript;" class="btn-file">
                     	   上传国徽面<input id="file2" name="file" type="file" onchange="upload(this)">
                    </a>
                     <input type="text" id="file2-text" name="opposite"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">法人姓名</label>
            <div class="col-sm-4">
                <input type="text" id="legalName" name="legalName" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">法人身份证号</label>
            <div class="col-sm-4">
                <input type="text" id="legalCardId" name="legalCardId" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">法人身份证正反面</label>
            <div class="col-sm-8 clearfix">
                <div class="img-uploadPhoto pull-left">
                    <a href="javascript:;" class="btn-file">
                        上传人像面<input id="file3" name="file" type="file" onchange="upload(this)">
                    </a>
                    <input type="text" id="file3-text" name="legalPositive"/>
                </div>
                <div class="img-uploadPhoto pull-left">
                    <a href="javascript:;" class="btn-file">
                        上传国徽面<input id="file4" name="file" type="file" onchange="upload(this)">
                    </a>
                    <input type="text" id="file4-text" name="legalOpposite"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">授权书</label>
            <div class="col-sm-10">
                <div id=""></div>
                <span class="fileupload fileupload-new" data-provides="fileupload">
                    <span class="btn btn-default btn-file btn-ghost">
                        <span class="fileupload-new"><i class="fa fa-folder-open-o"></i> 选择文件</span>
                        <span class="fileupload-exists"><i class="fa fa-folder-open-o"></i> 替换文件</span>
                        <input id="file5" type="file" name="file" class="form-control  uploadFile" accept=".zip,.rar,.doc,.docx,.pdf,.jpg,.png" onchange="upload(this)"/>
                    </span>
                    <span class="fileupload-preview"></span>
                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                </span>
                  <input type="text" id="file5-text"  name="authorize"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否三证合一</label>
            <div class="col-sm-8">
                <div id="component-certificate" inputName="certificate"></div>
            </div>
            <input type="hidden" id="certificate" name="certificate">
        </div>
        <div class="box-container">
            <div class="form-group">
                <label class="col-sm-2 control-label">营业执照注册号</label>
                <div class="col-sm-4">
                    <input type="text" id="regCode" class="form-control" name="regCode"/>
                </div>
                <label class="col-sm-2 control-label">统一社会信用代码</label>
                <div class="col-sm-4">
                    <input type="text" id="socialCode"  name="" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">组织机构代码</label>
                <div class="col-sm-4">
                    <input type="text"  id="organizationCode" name="organizationCode" class="form-control"/>
                </div>
                <label class="col-sm-2 control-label">税务登记证号</label>
                <div class="col-sm-4">
                    <input type="text" id="taxationCode" name="taxationCode" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">营业执照</label>
                <div class="col-sm-8">
                    <input type="text" id="licenseImg" name="licenseImg" class="form-control"/>
                </div>
            </div>
        </div><!--  onclick="chenckForm()" -->
        <div class="form-group text-center form-group-btns">
            <button class="btn btn-primary" type="button" onclick="chenckForm()">提交</button>
            <a class="btn btn-default" href="/member/userInfo">返回</a>
        </div>
    </div>
</form>
