<!--头像编辑-->

<div class="update-head clearfix">

    <div class="uh-left">

        <form name="dataForm" enctype="multipart/form-data">
            <a href="javascript:;" class="btn-file">选择你要上传的图像
                <input id="file1" name="file" type="file" onchange="upload(this)">
                <input type="hidden" id="file1-text"/>
            </a>
        </form>

        <div class="choose-file">
            仅支持JPG、PNG、JPEG、BMP格式，文件小于4M
        </div>
        <div class="img-big img-count">
            <div id="picture_original"><img/></div>
        </div>
        <input type="text" id="filestr"/>
        <input type="text" id="filetype"/>
        <input type="text" id="cutter-x"/>
        <input type="text" id="cutter-y"/>
        <input type="text" id="cutter-x2"/>
        <input type="text" id="cutter-y2"/>
        <input type="text" id="cutter-w"/>
        <input type="text" id="cutter-h"/>
        <div class="save"><button type="button" id="save_btn" class="btn btn-primary" onclick="confirm()">确定</button></div>
    </div>

    <div class="uh-right">
        <h3>效果预览</h3>
            你上传的图片会自动生成2种尺寸，请注意小尺寸的头像是否清晰
        <!--缩略图-->
        <div class="preview-container">
            <div id="picture_100" class="preview-container1 img-count">暂无预览</div>
            <div class="size">100*100像素</div>
        </div>
        <div class="preview-container">
            <div id="picture_50" class="preview-container2 img-count">暂无预览</div>
            <div class="size">50*50像素</div>
        </div>
    </div>
</div>
