/*
Error: Invalid CSS after "": expected keyframes selector (e.g. 10%), was "0"
        on line 74 of D:\esteel2.0\Web\src\main\resources\static\js\component\Tree\Tree.scss

69:     }
70:   }
71: }
72: 
73: @keyframes remoteLoadNode{
74:   0 {transform: rotate(0deg);}
75:   100% {transform: rotate(360deg);}
76: }

Backtrace:
D:\esteel2.0\Web\src\main\resources\static\js\component\Tree\Tree.scss:74
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/scss/parser.rb:1117:in `expr!'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/scss/static_parser.rb:46:in `parse_keyframes_selector'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:415:in `visit_rule'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:504:in `block (2 levels) in visit_directive'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:504:in `map'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:504:in `block in visit_directive'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:503:in `visit_directive'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
D:/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
D:/Koala/rubygems/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
D:/Koala/bin/sass:18:in `load'
D:/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"\": expected keyframes selector (e.g. 10%), was \"0\"\A         on line 74 of D:\esteel2.0\Web\src\main\resources\static\js\component\Tree\Tree.scss\A \A 69:     }\A 70:   }\A 71: }\A 72: \A 73: @keyframes remoteLoadNode{\A 74:   0 {transform: rotate(0deg);}\A 75:   100% {transform: rotate(360deg);}\A 76: }"; }
