

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">交易对象</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">一船两货</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">是否拆分</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="box-container">
        <div class="form-group">
            <label class="col-sm-2 control-label">*品名</label>
            <div class="col-sm-8">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">指标类型</label>
            <div class="col-sm-8">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">指标</label>
            <div class="col-sm-8">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">粒度</label>
            <div class="col-sm-8">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">*数量</label>
            <div class="col-sm-8">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">*溢短装</label>
            <div class="col-sm-8">
                <input type="text" class="form-control">
            </div>
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">*价格</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">*装货港：</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">*保税区：</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">*价格术语</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">目的港</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">*报盘有效期</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">*信用证交单期</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">装船期</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">提单日</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">ETA新加坡</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">ETA青岛港</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">到港月</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">其他</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">商品备注</label>
        <div class="col-sm-8">
            <textarea type="text" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">上传附件</label>
        <div class="col-sm-8">
            <input type="text" class="form-control">
        </div>
    </div>


</div>