<form>
<!--商品信息-->
<div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">交易对象</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" rows="4"></textarea>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">*品名</label>
            <div class="col-sm-4">
                <div id="component-selectBox-ItemName" inputName="ItemName"></div>
            </div>
            <label class="col-sm-2 control-label">*港口</label>
            <div class="col-sm-4">
                <div id="component-selectBox-Port" inputName="Port"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">指标类型</label>
            <div class="col-sm-8">
                <div id="component-radioBoxGroup-kpiType"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">指标</label>
            <div class="col-sm-8">
                <table class="offer-kip-table">
                    <tr>
                        <th>Fe</th><th>SiO2</th><th>A12O3</th><th>Mn</th><th>LOI</th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                    </tr>
                    <tr>
                        <th>P</th><th>S</th><th>H20</th><th>&nbsp;</th><th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">粒度</label>
            <div class="col-sm-4">
                <input type="text" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">*数量</label>
            <div class="col-sm-4">
                <input type="text" class="form-control"/>
            </div>

            <label class="col-sm-2 control-label">*溢短装</label>
            <div class="col-sm-4">
                <input type="text" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">*可否拆分</label>
            <div class="col-sm-4">
                <div id="component-toggle-split" inputName="split"></div>
            </div>

            <label class="col-sm-2 control-label">*起订量</label>
            <div class="col-sm-4">
                <input type="text" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">*价格</label>
            <div class="col-sm-4">
                <input type="text" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">*报盘有效期：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">商品备注</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">上传附件</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" />
            </div>
        </div>

</div>
<div class="offer-content-slicer">
    <div class="slicer-text">交货结算条款</div>
</div>
<!--交货结算条款-->
<div class="form-horizontal offer-rule">
    <div class="form-group">
        <label class="col-sm-2 control-label">*结算方式</label>
        <div class="col-sm-10">
            <input type="radio"/>签订合同后<input class="offer-rule-f-c"/>个工作日内付全款<br/>
            <input type="radio"/>签订合同后<input class="offer-rule-f-c"/>个工作日内付合同款的<input class="offer-rule-f-c"/>%作为定金，剩余货款在<input class="offer-rule-f-c"/>个工作日内结清。
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">*交货期</label>
        <div class="col-sm-10">
            买方付全款后<input class="offer-rule-f-c"/>个工作日内完成货权转移
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">交货方式</label>
        <div class="col-sm-10">
            <input class="offer-rule-f-c"/>（港口）<input class="offer-rule-f-c"/>（交货方式）交货
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">交货数量标准</label>
        <div class="col-sm-10">
            以<input class="offer-rule-f-c"/>（港口）<input class="offer-rule-f-c"/>数量为准
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">货物规格标准</label>
        <div class="col-sm-10">
            以<input class="offer-rule-f-c"/>检测结果作为结算依据。
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">费用条款</label>
        <div class="col-sm-10">
            费用条款：若火车或车板提货，则产生的港口费差价、运费由 <input class="offer-rule-f-c"/> 承担；
            若二程船提货，则水分检验费及其代理费由<input class="offer-rule-f-c"/>承担， 内贸港口建设费由<input class="offer-rule-f-c"/>承担，
            二程船运费由<input class="offer-rule-f-c"/>承担， 过磅费或水尺费由<input class="offer-rule-f-c"/>承担；
            自货权转移之日起，买方享有<input class="offer-rule-f-c"/>天免堆期， 超期产生的堆存费由<input class="offer-rule-f-c"/>承担。
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">发票条款</label>
        <div class="col-sm-10">
            在卖方收到全部货款后，卖方应向买方开出增值税发票，增值税发票一票结算。增值税发票品种以合同品种为准并且无其他要求。 其他发票条款<br/>
            <textarea class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">不可抗力</label>
        <div class="col-sm-10">
            买、卖双方的任何一方由于不可抗力的原因不能全部或部分履行合同义务时，应本着诚信原则尽快通知对方，经提供相应证明后，可允许延期履行、部分履行或不履行，并可根据情况全部或部分免予承担违约责任
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">上传附件</label>
        <div class="col-sm-10">
            <div id=""></div>
            <span class="fileupload fileupload-new" data-provides="fileupload">
                <span class="btn btn-default btn-file btn-ghost">
                    <span class="fileupload-new"><i class="fa fa-folder-open-o"></i> 选择文件</span>
                    <span class="fileupload-exists"><i class="fa fa-folder-open-o"></i> 替换文件</span>
                    <input type="file" name="ccFile" class="form-control  uploadFile" accept=".zip,.rar,.doc,.docx,.pdf,.jpg,.png"/>
                </span>
                <span class="fileupload-preview"></span>
                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">其他</label>
        <div class="col-sm-10">
            <textarea class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">匿名发布</label>
        <div class="col-sm-10">
            <div id="component-toggle-anonym" inputName="anonym"></div>
        </div>
    </div>
</div>

<div class="form-group offer-rule-buttons">
    <button class="btn btn-default" type="button" onclick="save_offer()">保存</button>
    <button class="btn btn-primary" type="button" onclick="submit_offer()">立即发布</button>
</div>

</form>