<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/frontCode" />

<body class="member myIron">

<!--页头，菜单-->
<div th:replace="fragments/head::header"></div>

<!--内容-->
<div class="main">
    <div class="container">
        <!--侧栏-->
        <div th:replace="fragments/sidebar::sidebar"></div>

        <!--内容-->
        <div class="content">

            <div class="userContent">
                <!--分类-->
                <div class="type-title">
                    <div class="t-title" id="router-linkNode">
                        <a href="#/inStock" linkNode="inStock" class="selected">港口现货</a>
                        <em class="t-t-line">|</em>
                        <a href="#/futures" linkNode="futures">远期现货</a>
                        <em class="t-t-line">|</em>
                        <a href="#/pricing" linkNode="pricing">点价</a>
                    </div>
                </div>
                <!--分类页面-->
                <div id="router-pageCotainer" class="padding-left-10 padding-right-10 padding-bottom-10">
                    <div th:text="${asdfasdf}"></div>
                </div>
            </div>

			<div style="display:none">
			
				<!-- 公司白名单列表Json:[{"text":"counterpartyName","value":"counterpartyId","key":"counterpartyAlias"},...] -->
				<div id="companyWhitelistJson" th:text="${companyWhitelistJson}"></div>

				<!-- 品名列表 格式:[{"text":"commodityName","value":"commodityId","key":"commodityAlias"},...] -->
				<div id="ironCommodityJson" th:text="${ironCommodityJson}"></div>
				
				<!-- 铁矿品名属性值联动列表  格式:格式:{"commodityName":[{"text":"attributeCode","value":"attributeValue","key":"attributeCode"},...],...} -->
				<div id="ironAttributeLinkJson" th:text="${ironAttributeLinkJson}"></div>
				
				<!-- 铁矿品名装货港联动列表 格式:{"commodityName":[{"text":"portName","value":"portId","key":"portName,portNameEn"},...],...} -->
				<div id="ironLoadingPortJson" th:text="${ironLoadingPortJson}"></div>
				
				<!-- 港口列表 格式:[{"text":"portName","value":"portId","key":"portName,portNameEn"},...] -->
				<div id="portJson" th:text="${portJson}"></div>
				
				<!-- 保税区港口列表 格式:[{"text":"portName","value":"portId","key":"portName,portNameEn"},...] -->
				<div id="bondedAreaPortJson" th:text="${bondedAreaPortJson}"></div>
				
				<!-- 指标类型列表 格式:[{"text":"optionValue","value":"optionId","key":"optionValue,optionValueEn"},...] -->
				<div id="indicatorTypeJson" th:text="${indicatorTypeJson}"></div>
				
				<!-- 价格术语列表 格式:[{"text":"optionValue","value":"optionId","key":"optionValue,optionValueEn"},...] -->
				<div id="priceTermJson" th:text="${priceTermJson}"></div>
				
				<!-- 计量方式列表 格式:[{"text":"optionValue","value":"optionId","key":"optionValue,optionValueEn"},...] -->
				<div id="measureMethodJson" th:text="${measureMethodJson}"></div>
				
				<!-- 计价方式列表 格式:[{"text":"optionValue","value":"optionId","key":"optionValue,optionValueEn"},...] -->
				<div id="pricingMethodJson" th:text="${pricingMethodJson}"></div>
				
				<!-- 交易方式 格式:[{"text":"","value":"","key":""},...] -->
				<div id="tradeModeJson" th:text="${tradeModeJson}"></div>
				
				<!-- 是否一船多货 格式:[{"text":"","value":"","key":""},...] -->
				<div id="isMultiCargoJson" th:text="${isMultiCargoJson}"></div>
				
				<!-- 是否拆分 格式:[{"text":"","value":"","key":""},...] -->
				<div id="isSplitJson" th:text="${isSplitJson}"></div>
				
				<!-- 是否在保税区 格式:[{"text":"","value":"","key":""},...] -->
				<div id="isBondedAreaJson" th:text="${isBondedAreaJson}"></div>
				
				<!-- 价格模式 格式:[{"text":"","value":"","key":""},...] -->
				<div id="priceModelJson" th:text="${priceModelJson}"></div>
				
				<!-- 是否匿名 格式:[{"text":"","value":"","key":""},...] -->
				<div id="isAnonymousJson" th:text="${isAnonymousJson}"></div>
			</div>

        </div>
    </div>
</div>

<!--页脚，链接-->
<div th:replace="fragments/foot::footer"></div>

<!--控制-->
<script th:src="@{/js/module/offer/addOffer.js}"></script>

</body>

</html>