<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/frontCode" />

<body class="member myIron">

<!--页头，菜单-->
<div th:replace="./fragments/head::header"></div>

<!--内容-->
<div class="main">
    <div class="container">
        <!--侧栏-->
        <div th:replace="./fragments/sidebar::sidebar"></div>

        <!--内容-->
        <div class="content">

            <div class="userContent">
                <!--表格过滤筛选-->
                <div class="filter-box clearfix">
                    <div id="component-myOffer-status" inputName="offerStatus"></div>
                    <div class="pull-left">
                        <div class="form-group clearfix">
                            <input type="text" class="form-control input-sm inline-block" style="width: 250px;"/>
                            <button type="button" class="btn btn-xs btn-primary">查询</button>
                        </div>
                    </div>
                    <div class="pull-right clearfix">
                        <div id="component-myOffer-itemName" class="pull-left margin-right-10" inputName="commodityId"></div>
                        <div id="component-myOffer-port" class="pull-left" inputName="portId"></div>
                    </div>
                </div>

                <!--列表-->
                <div id="component-myOffer-table"></div>

            </div>
            <div style="display:none">
            	<!-- 品名列表 格式:[{"text":"commodityName","value":"commodityId","key":"commodityAlias"},...] -->
                <div id="ironCommodityJson" th:text="${ironCommodityJson}"></div>
                
                <!-- 港口列表 格式:[{"text":"portName","value":"portId","key":"portName,portNameEn"},...] -->
                <div id="portJson" th:text="${portJson}"></div>
                
                <!-- 状态列表 格式:[{"text":"name","value":"id","key":"name"},...] -->
                <div id="offerStatusJson" th:text="${offerStatusJson}"></div>
            </div>
         </div>
    </div>
</div>

<!--页脚，链接-->
<div th:replace="./fragments/foot::footer"></div>

<!--控制-->
<script th:src="@{/js/module/offer/myOffer.js}"></script>
<script th:src="@{/js/module/offer/myOffer.table.js}"></script>
</body>
</html>