<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/frontCode::frontCode" />

<body class="member myIron">

<!--页头，菜单-->
<div th:replace="/fragments/head::header"></div>

<!--内容-->
<div class="main">
    <div class="container">
        <!--侧栏-->
        <div th:replace="/fragments/sidebar::sidebar"></div>

        <!--内容-->
        <div class="content">

            <div class="userContent">
            	 <!--分类-->
                <div class="type-title">
                    <div class="t-title" id="router-linkNode">
                        <a href="#" linkNode="inStock" class="selected">港口现货</a>
                        <em class="t-t-line">|</em>
                        <a href="#" linkNode="futures">远期现货</a>
                        <em class="t-t-line">|</em>
                        <a href="#" linkNode="pricing">点价</a>
                    </div>
                </div>
                <!--分类页面-->
                <div id="router-pageCotainer" class="padding-left-10 padding-right-10 padding-bottom-10">
					<form id="form-offer" action="/offer/updateInStockOffer" enctype="multipart/form-data" method="post" onsubmit="return false">
					<!--商品信息-->
					    <div class="form-horizontal">
					        <div class="form-group">
					            <label class="col-sm-2 control-label">交易对象</label>
					            <div class="col-sm-10">
					                <span th:text="${offer.isDesignationText}"></span>
					            </div>
					        </div>
					 
					        <div class="form-group">
					            <label class="col-sm-2 control-label">*品名</label>
					            <div class="col-sm-4">
					            	<span th:text="${offerAttach.commodityName}"></span>
					            </div>
					            <label class="col-sm-2 control-label">*港口</label>
					            <div class="col-sm-4">
					            	<span th:text="${offerAttach.portName}"></span>
					            </div>
					        </div>
					 
					        <div class="form-group">
					            <label class="col-sm-2 control-label">指标类型</label>
					            <div class="col-sm-8">
					            	<span th:text="${offerAttach.indicatorTypeName}"></span>
					            </div>
					        </div>
					 
					        <div class="form-group">
					            <label class="col-sm-2 control-label">指标(%)</label>
					            <div class="col-sm-8">
					                <table class="offer-kip-table">
					                    <tr>
					                        <th>Fe</th><th>SiO<sub>2</sub></th><th>A1<sub>2</sub>O<sub>3</sub></th><th>Mn</th><th>LOI</th>
					                    </tr>
					                    <tr>
					                        <td><span th:text="${offerAttach.fe}"></span></td>
					                        <td><span th:text="${offerAttach.sio2}"></span></td>
					                        <td><span th:text="${offerAttach.al2o3}"></span></td>
					                        <td><span th:text="${offerAttach.mn}"></span></td>
					                        <td><span th:text="${offerAttach.LOI}"></span></td>
					                    </tr>
					                    <tr>
					                        <th>P</th><th>S</th><th>H<sub>2</sub>0</th><th>&nbsp;</th><th>&nbsp;</th>
					                    </tr>
					                    <tr>
					                        <td><span th:text="${offerAttach.p}"></span></td>
					                        <td><span th:text="${offerAttach.s}"></span></td>
					                        <td><span th:text="${offerAttach.h2o}"></span></td>
					                        <td>&nbsp;</td>
					                        <td>&nbsp;</td>
					                    </tr>
					                </table>
					            </div>
					        </div>
					 
					        <div class="form-group">
					            <label class="col-sm-2 control-label">粒度</label>
					            <div class="col-sm-4">
					            	<span th:text="${offerAttach.sizeIndicators}"></span>
					            </div>
					        </div>
					 
					        <div class="form-group">
					            <label class="col-sm-2 control-label">*数量</label>
					            <div class="col-sm-4">
					            	<span th:text="${offerAttach.offerQuantity}"></span>
					            </div>
					 
					            <label class="col-sm-2 control-label">*溢短装</label>
					            <div class="col-sm-4">
					            	<span th:text="${offerAttach.moreOrLess}"></span>
					            </div>
					        </div>
					 
					        <div class="form-group">
					            <label class="col-sm-2 control-label">*可否拆分</label>
					            <div class="col-sm-4">
					            	<span th:text="${offer.isSplitText}"></span>
					            </div>
					 
					            <div id="offer-qdl-box" th:if="${offer.isSplit == '1'}">
					                <label class="col-sm-2 control-label">*起订量</label>
					                <div class="col-sm-4">
					                	<span th:text="${offerAttach.minQuantity}"></span>
					                </div>
					            </div>
					        </div>
					 
					        <div class="form-group">
					            <label class="col-sm-2 control-label">*价格</label>
					            <div class="col-sm-4">
					            	<span th:text="${offerAttach.priceValue}"></span>
					            </div>
					        </div>
					 
					        <div class="form-group">
					            <label class="col-sm-2 control-label">*报盘有效期：</label>
					            <div class="col-sm-4">
					            	<span th:text="${#dates.format(offer.validTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
					            </div>
					        </div>
					 
					        <div class="form-group">
					            <label class="col-sm-2 control-label">商品备注</label>
					            <div class="col-sm-10">
					            	<span th:text="${offerAttach.offerAttachRemarks}"></span>
					            </div>
					        </div>
					 
					        <div class="form-group">
					            <label class="col-sm-2 control-label">上传附件</label>
					            <div class="col-sm-10">
					                <div id=""></div>
					                <span class="fileupload fileupload-new" data-provides="fileupload">
					                    <span class="btn btn-default btn-file btn-ghost">
					                        <span class="fileupload-new"><i class="fa fa-folder-open-o"></i> 选择文件</span>
					                        <span class="fileupload-exists"><i class="fa fa-folder-open-o"></i> 替换文件</span>
					                        <input type="file" id="offerAffix" name="file" class="form-control uploadFile" accept=".doc,.docx,.xls,.xlsx,.pdf,.zip,.rar,.7z" onchange="upload(this)"/>
					                    </span>
					                    <span class="fileupload-preview"></span>
					                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
					                </span>
					                <input type="hidden" id="offerAffixPath" name="offerAffixPath"/>
					            </div>
					        </div>
					 
					</div>
					    <div class="offer-content-slicer">
					        <div class="slicer-text">交货结算条款</div>
					    </div>
					    <!--交货结算条款-->
					    <div class="form-horizontal offer-rule">
					        <div class="form-group">
					            <label class="col-sm-2 control-label">*结算方式</label>
					            <div class="col-sm-10" th:if="${'0' == offerClause.settlement_method}">
					                签订合同后<span th:text="${offerClause.clear_within_several_working_days}"></span>个工作日内付全款<br/>
					            </div>
					            <div class="col-sm-10" th:if="${'1' == offerClause.settlement_method}">
					                签订合同后<span th:text="${offerClause.after_sign_several_working_days}"></span>个工作日内付合同款的<span th:text="${offerClause.contract_funds_percentage}"></span>%作为定金，剩余货款在<span th:text="${offerClause.clear_within_several_working_days}"></span>个工作日内结清。
					            </div>
					        </div>
					        <div class="form-group">
					            <label class="col-sm-2 control-label">*交货期</label>
					            <div class="col-sm-10">
					                买方付全款后<span th:text="${offerClause.after_pay_off_several_working_days}"></span>个工作日内完成货权转移
					            </div>
					        </div>
					        <div class="form-group">
					            <label class="col-sm-2 control-label">*交货方式</label>
					            <div class="col-sm-10">
					            	<span th:text="${offerClause.delivery_Method_port}"></span>（港口）<span th:text="${offerClause.pricing_method}"></span>（计价方式）交货
					            </div>
					        </div>
					        <div class="form-group">
					            <label class="col-sm-2 control-label">*交货数量标准</label>
					            <div class="col-sm-10">
					                以<span th:text="${offerClause.delivery_quantity_port}"></span>（港口）<span th:text="${offerClause.measure_method}"></span>（计量方式）数量为准
					            </div>
					        </div>
					        <div class="form-group">
					            <label class="col-sm-2 control-label">*货物规格标准</label>
					            <div class="col-sm-10">
					                以<span th:text="${offerClause.trader_type}"></span>检测结果作为结算依据。
					            </div>
					        </div>
					        <div class="form-group">
					            <label class="col-sm-2 control-label">*费用条款</label>
					            <div class="col-sm-10">
					                费用条款：若火车或车板提货，则产生的港口费差价、运费由<span th:text="${offerClause.transport_costs_bearer}"></span>承担；
					                若二程船提货，则水分检验费及其代理费由<span th:text="${offerClause.agency_fee_bearer}"></span>承担， 内贸港口建设费由<span th:text="${offerClause.port_construction_fee_bearer}"></span>承担，
					                二程船运费由<span th:text="${offerClause.second_vessel_fee_bearer}"></span>承担， 过磅费或水尺费由<span th:text="${offerClause.weighing_fee_bearer}"></span>承担；
					                自货权转移之日起，买方享有<span th:text="${offerClause.free_storage_several_days}"></span>天免堆期， 超期产生的堆存费由<span th:text="${offerClause.overdue_storage_fee_bearer}"></span>承担。
					            </div>
					        </div>
					        <div class="form-group">
					            <label class="col-sm-2 control-label">发票条款</label>
					            <div class="col-sm-10">
					                在卖方收到全部货款后，卖方应向买方开出增值税发票，增值税发票一票结算。增值税发票品种以合同品种为准并且无其他要求。 其他发票条款<br/>
					                <span th:text="${offerClause.invoice_terms}"></span>
					            </div>
					        </div>
					        <div class="form-group">
					            <label class="col-sm-2 control-label">不可抗力</label>
					            <div class="col-sm-10">
					                买、卖双方的任何一方由于不可抗力的原因不能全部或部分履行合同义务时，应本着诚信原则尽快通知对方，经提供相应证明后，可允许延期履行、部分履行或不履行，并可根据情况全部或部分免予承担违约责任
					            </div>
					        </div>
					        <div class="form-group">
					            <label class="col-sm-2 control-label">上传合同</label>
					            <div class="col-sm-10">
					                <div id=""></div>
					                <span class="fileupload fileupload-new" data-provides="fileupload">
					                    <span class="btn btn-default btn-file btn-ghost">
					                        <span class="fileupload-new"><i class="fa fa-folder-open-o"></i> 选择文件</span>
					                        <span class="fileupload-exists"><i class="fa fa-folder-open-o"></i> 替换文件</span>
					                        <input type="file" id="contractAffix" name="file" class="form-control uploadFile" accept=".doc,.docx,.xls,.xlsx,.pdf,.zip,.rar,.7z" onchange="upload(this)"/>
					                    </span>
					                    <span class="fileupload-preview"></span>
					                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
					                </span>
					                <input type="hidden" id="contractAffixPath" name="contractAffixPath"/>
					            </div>
					        </div>
					        <div class="form-group">
					            <label class="col-sm-2 control-label">其他</label>
					            <div class="col-sm-10">
					            	<span th:text="${offer.offerRemarks}"></span>
					            </div>
					        </div>
					        <div class="form-group">
					            <label class="col-sm-2 control-label">匿名发布</label>
					            <div class="col-sm-10">
					            	<span th:text="${offer.isAnonymousText}"></span>
					            </div>
					        </div>
					    </div>
					 
					 	<input type="hidden" value="inStock" name="offerId" th:value="${offer.offerId}"/>
					 	<input type="hidden" value="inStock" id="tradeMode"/>
					 	<input type="hidden" name="offerStatus" value="draft" id="offerStatus"/>
					</form>
 				</div>
 				
 				<div style="display:none">
 				
 					<!-- 报盘主表 -->
	                <div id="offerJson" th:text="${offerJson}"></div>
	                
	                <!-- 报盘附表 -->
	                <div id="offerAttachJson" th:text="${offerAttachJson}"></div>
	                
	                <!-- 指定交易对手列表Json:[{"text":"counterpartyName","value":"counterpartyId","key":"counterpartyAlias"},...] -->
	                <div id="counterpartyJson" th:text="${counterpartyJson}"></div>
            
	                <!-- 公司白名单列表Json:[{"text":"counterpartyName","value":"counterpartyId","key":"counterpartyAlias"},...] -->
	                <div id="companyWhitelistJson" th:text="${companyWhitelistJson}"></div>
	                
	                <!-- 品名列表 格式:[{"text":"commodityName","value":"commodityId","key":"commodityAlias"},...] -->
	                <div id="ironCommodityJson" th:text="${ironCommodityJson}"></div>
	                
	                <!-- 铁矿品名属性值联动列表  格式:格式:{"commodityName":[{"text":"attributeCode","value":"attributeValue","key":"attributeCode"},...],...} -->
	                <div id="ironAttributeLinkJson" th:text="${ironAttributeLinkJson}"></div>
	                
	                <!-- 港口列表 格式:[{"text":"portName","value":"portId","key":"portName,portNameEn"},...] -->
	                <div id="portJson" th:text="${portJson}"></div>
	                
	                <!-- 指标类型列表 格式:[{"text":"optionValue","value":"optionId","key":"optionValue,optionValueEn"},...] -->
	                <div id="indicatorTypeJson" th:text="${indicatorTypeJson}"></div>
	                
	                <!-- 计量方式列表 格式:[{"text":"optionValue","value":"optionId","key":"optionValue,optionValueEn"},...] -->
	                <div id="measureMethodJson" th:text="${measureMethodJson}"></div>
	                
	                <!-- 计价方式列表 格式:[{"text":"optionValue","value":"optionId","key":"optionValue,optionValueEn"},...] -->
	                <div id="pricingMethodJson" th:text="${pricingMethodJson}"></div>
	                
	                <!-- 交易方式 格式:[{"text":"","value":"","key":""},...] -->
	                <div id="tradeModeJson" th:text="${tradeModeJson}"></div>
	                
	                <!-- 是否拆分 格式:[{"text":"","value":"","key":""},...] -->
	                <div id="isSplitJson" th:text="${isSplitJson}"></div>
	                
	                <!-- 交易者类型格式:[{"text":"","value":"","key":""},...] -->
	                <div id="traderTypeJson" th:text="${traderTypeJson}"></div>
	                
	                <!-- 是否匿名 格式:[{"text":"","value":"","key":""},...] -->
	                <div id="isAnonymousJson" th:text="${isAnonymousJson}"></div>
            	</div>
 			</div>
 		</div>		
    </div>
</div>

<!--页脚，链接-->
<div th:replace="/fragments/foot::footer"></div>

<!--控制-->
<script th:src="@{/js/module/offer/editOffer.instock.js}"></script>
</body>
</html>