<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="frontCode">
    <meta charset="UTF-8" />
    <title>Esteel电商2.0</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/jq/growl/jquery.growl.css}"/>
    <link rel="stylesheet" th:href="@{/css/ui.css}"/>
    <link rel="stylesheet" th:href="@{/css/component.ui.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>


    <!--js-->
    <script th:src="@{/react/react.js}"></script>
    <script th:src="@{/react/react-dom.js}"></script>
    <script th:src="@{/react/classnames.js}"></script>
    <script th:src="@{/react/babel.min.js}"></script>

    <script th:src="@{/jq/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/jq/notify.js}"></script>
    <script th:src="@{/jq/growl/jquery.growl.js}"></script>

    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/moment.js}"></script>
    <script th:src="@{/bootstrap/bootstrap-datetimepicker.min.js}"></script>

    <!--组件-->
    <link rel="stylesheet" th:href="@{/js/component/HeaderMenu/HeaderMenu.css}"/>
    <script th:src="@{/js/component/HeaderMenu/HeaderMenu.js}"></script>
    <script th:src="@{/js/component/component.HeaderMenu.js}"></script>
    <!--前端框架-->
    <script th:src="@{/js/director.js}"></script>
    <script th:src="@{/js/module/app.js}"></script>
</head>

</html>