<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/frontCode" />

<body>

<!--头部-->
<div class="header" th:fragment="header">
    <!--topbar-->
    <div class="topbar"  th:fragment="topbar">
        <div class="container">
            <ul class="topbar-left">
                <li><a><span class="fa fa-home"></span>点钢首页</a></li>
            </ul>
            <ul class="topbar-right">
                <li>你好，请登录</li>
                <li><a class="text-danger">免费注册</a></li>
                <li class="topbar-gap-line">|</li>
                <li><a>我的点钢网</a></li>
                <li class="topbar-gap-line">|</li>
                <li><a>消息中心</a></li>
                <li class="topbar-gap-line">|</li>
                <li><a>帮助中心</a></li>
                <li class="topbar-gap-line">|</li>
                <li><a>客服电话：400-007-2323</a></li>
            </ul>
        </div>
    </div>
    <!--search-->
    <div class="header-nav">
        <div class="container">
            <div class="logo"><img class="logo" th:src="@{/images/logo.png}"/></div>
            <div class="input-group header-nav-searchbar">
                <input type="text" class="form-control" placeholder="请输入关键字查询"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">搜索</button>
                </span>
            </div>
            <div class="header-nav-btn">
                <a class="btn btn-addOffer" href="/offer/addOffer">我要报盘</a>
                <button class="btn btn-addBid">我要招标</button>
            </div>
        </div>
    </div>
    <!--main-var-->
    <div class="main-nav">
        <div class="container">
            <div id="component-headerMenu"></div>

        </div>
    </div>
</div>


</body>

</html>