<!--账号安全-->

<div class="accoutSafe-item-list">
    <!--登录密码-->
    <div class="safe-item clearfix">
        <div class="item1"><span class="fa fa-check text-success"></span>登录密码</div>
        <div class="item2">
            <span class="item-text text-danger">互联网账号存在被盗风险，建议您定期修改密码以保护账户安全</span>
        </div>
        <div class="item3"><a href="/safe/updatePassword">修改</a></div>
    </div>

    <!--手机-->
    <div class="safe-item clearfix">
        <div class="item1"><span class="fa fa-check text-success"></span>手机验证</div>
        <div class="item2">
            <span class="item-text">您验证的手机号：</span>
            <span class="text-default">138*****795</span>
        </div>
        <div class="item3"><a href="/safe/updateMobile">修改</a></div>
    </div>

    <!--邮箱-->
    <div class="safe-item clearfix">
        <div class="item1"><span class="fa fa-warning text-warning"></span>邮箱验证</div>
        <div class="item2">
            <span class="item-text">尚未验证</span>
        </div>
        <div class="item3"><a class="btn btn-primary btn-xs"  href="/safe/verifyMail">立即验证</a></div>
    </div>

</div>



