<!--验证邮箱，修改邮箱-->

<form id="form-updateMail" onsubmit="return false">
    <!--基本信息-->
    <div class="form-horizontal">

        <div class="row form-group">
            <div class="col-sm-12">
                <ul class="updateForm-step" id="updateMail-panel">
                    <li class="active" data-href="#updateMail-step-1">
                        <div class="up-s-num">1</div>
                        <div class="up-s-text">验证身份</div>
                    </li>
                    <li data-href="#updateMail-step-2">
                        <div class="up-s-num">2</div>
                        <div class="up-s-text">绑定邮箱</div>
                    </li>
                    <li data-href="#updateMail-step-3">
                        <div class="up-s-num">3</div>
                        <div class="up-s-text">完成</div>
                    </li>
                </ul>
            </div>
        </div>

        <!--步骤1-->
        <div class="row updateForm-step-content " id="updateMail-step-1">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">已验证手机</label>
                    <div class="col-sm-8">
                        <div class="form-control-static" id="phone"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">请填写手机校验码</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="code"/>
                            <div class="input-group-btn" style="width: 120px;"><button id="register-btn-getValidateCode" class="btn btn-primary" type="button" onclick="getCode()">获取验证码</button></div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-btns">
                    <div class=" col-sm-offset-2">
                        <a href="#updateMail-step-2" class="btn btn-primary btn-xs step-btn" style="margin-left: 10px;">提交</a>
                    </div>
                </div>
            </div>
        </div>


        <!--步骤2-->
        <div class="row updateForm-step-content" id="updateMail-step-2">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">我的邮箱</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" id="email"/>
                    </div>
                </div>
               <!--  <div class="form-group">
                    <label class="col-sm-2 control-label">验证码</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="codes"/>
                    </div>
                </div> -->
                <div class="form-group form-group-btns">
                    <div class=" col-sm-offset-2">
                        <a href="#updateMail-step-3" class="btn btn-primary btn-xs step-btn" style="margin-left: 10px;">提交</a>
                    </div>
                </div>
            </div>
        </div>

        <!--步骤3-->
        <div class="row updateForm-step-content" id="updateMail-step-3">
            <div class="col-sm-12">
                <div class="finish">
                    <h3><span class="fa fa-check fs-22 text-success margin-right-5" id="title"></span></h3>
              		<font id="step3" ></font>
                </div>

            </div>
        </div>

    </div>
</form>
