@charset "utf-8";

/*--------------------------------
变量
-----------------------------------------*/
$color-theme:#de211d;
$color-theme-response:#f1280f;

$color-success:#3DC18E;
$color-success-response:#2ad593;

$color-warning:#fc9a2f;
$color-warning-response:#f4a92c;

$color-info:#20b0de;
$color-info-response:#20b0de;

$color-blue:#00447c;
$color-blue-response:#002849;


$color-text:#4B4C4D;
$color-label:#787878;
$color-black:#2a333a;
$color-gray-1:#666666;
$color-gray-2:#999999;
$color-gray-3:#dddddd ;
$color-gray-4:#fafafa;
$color-gray-5:#f1f1f1;

$color-bg:#f5f5f5;

$color-border:#e4e4e4;
$color-border-light:#aaa;

/*--------------------------------

-----------------------------------------*/
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}


.container{
  margin-right: auto;
  margin-left: auto;
  padding-left:0px;
  padding-right: 0px;
  width: 1200px;
}


ul,li{margin:0;padding:0}

.no-radius{
  border-radius:0 !important;
}
/*--------------------------------
字符大小
-----------------------------------------*/
.fs-12{font-size:12px !important;}
.fs-14{font-size:14px!important;}
.fs-16{font-size:16px!important;}
.fs-18{font-size:18px!important;}
.fs-22{font-size:22px!important;}
.fs-24{font-size:24px!important;}
.fs-36{font-size:36px!important;}


/*--------------------------------
颜色
-----------------------------------------*/
.text-default{
  color:$color-text;
}
.text-gray{
  color: $color-gray-1;
}
.text-gray-low{
  color: $color-gray-2;
}
.text-info{
  color:$color-info !important;
}
.text-danger{
  color:$color-theme !important;
}
.text-warning{
  color:$color-warning !important;
}
.text-success{
  color:$color-success !important;
}
.bg-fff{
  background: #fff;
}
.bg-f5f5f5{
  background: #f5f5f5;
}

/*--------------------------------
文本位置
-----------------------------------------*/
.text-center{
  text-align:center !important;
}
.text-left{
  text-align:left !important;
}
.text-right{
  text-align:right !important;
}
/*--------------------------------
缩略语
-----------------------------------------*/
abbr[title], abbr[data-original-title]{
  border:none;
}
/*--------------------------------
线性盒子
-----------------------------------------*/
.inline-block{
  display: inline-block !important;
}
/*--------------------------------
width 宽度
-----------------------------------------*/
@mixin width($value: auto) {
  width:$value !important;
}

.widthAuto{
  @include width(auto);
}
.widthFull{
  @include width(100%);
}
.width100{
  @include width(100px);
}
.width120{
  @include width(120px);
}
.width130{
  @include width(130px);
}
.width140{
  @include width(140px);
}
.width150{
  @include width(150px);
}
.width200{
  @include width(200px);
}
/*--------------------------------
margin 留白
-----------------------------------------*/
@mixin margin-left($value: auto) {
    margin-left:$value !important;
}
@mixin margin-right($value: auto) {
  margin-right:$value!important;
}
@mixin margin-top($value: auto) {
  margin-top:$value!important;
}
@mixin margin-bottom($value: auto) {
  margin-bottom:$value!important;
}
.margin-lr-auto{
  @include margin-left(auto);
  @include margin-right(auto);
}
/*无留白*/
.margin0{
  margin:0 !important;
}
/*左侧留白*/
.margin-left-0 {
  @include margin-left(0px);
}
.margin-left-5 {
  @include margin-left(5px);
}
.margin-left-10 {
  @include margin-left(10px);
}
.margin-left-15 {
  @include margin-left(15px);
}
.margin-left-20 {
  @include margin-left(20px);
}
.margin-left-25{
  @include margin-left(25px);
}
/*右侧留白*/
.margin-right-0 {
  @include margin-right(0px);
}
.margin-right-5 {
  @include margin-right(5px);
}
.margin-right-10 {
  @include margin-right(10px);
}
.margin-right-15 {
  @include margin-right(15px);
}
.margin-right-20 {
  @include margin-right(20px);
}
.margin-right-25{
  @include margin-right(25px);
}
/*顶部留白*/
.margin-top-0 {
  @include margin-top(0px);
}
.margin-top-5 {
  @include margin-top(5px);
}
.margin-top-10 {
  @include margin-top(10px);
}
.margin-top-15 {
  @include margin-top(15px);
}
.margin-top-20 {
  @include margin-top(20px);
}
.margin-top-25 {
  @include margin-top(25px);
}

/*底部留白*/
.margin-bottom-0 {
  @include margin-bottom(0px);
}
.margin-bottom-5 {
  @include margin-bottom(5px);
}
.margin-bottom-10 {
  @include margin-bottom(10px);
}
.margin-bottom-15 {
  @include margin-bottom(15px);
}
.margin-bottom-20 {
  @include margin-bottom(20px);
}
.margin-bottom-25 {
  @include margin-bottom(25px);
}

/*--------------------------------
padding 填充
-----------------------------------------*/
@mixin padding-left($value: auto) {
  padding-left:$value  !important;
}
@mixin padding-right($value: auto) {
  padding-right:$value  !important;
}
@mixin padding-top($value: auto) {
  padding-top:$value  !important;
}
@mixin padding-bottom($value: auto) {
  padding-bottom:$value !important;
}
/*无填充*/
.padding0{
  padding:0 !important;
}
.padding10{
  padding:10px !important;
}
.padding20{
  padding:20px !important;
}
/*左侧填充*/
.padding-left-0 {
  @include padding-left(0px);
}
.padding-left-5 {
  @include padding-left(5px);
}
.padding-left-10 {
  @include padding-left(10px);
}
.padding-left-15 {
  @include padding-left(15px);
}
.padding-left-20 {
  @include padding-left(20px);
}
.padding-left-25{
  @include padding-left(25px);
}
/*右侧填充*/
.padding-right-0 {
  @include padding-right(0px);
}
.padding-right-5 {
  @include padding-right(5px);
}
.padding-right-10 {
  @include padding-right(10px);
}
.padding-right-15 {
  @include padding-left(15px);
}
.padding-right-20 {
  @include padding-right(20px);
}
.padding-right-25{
  @include padding-right(25px);
}
/*顶部填充*/
.padding-top-0 {
  @include padding-top(0px);
}
.padding-top-5 {
  @include padding-top(5px);
}
.padding-top-10 {
  @include padding-top(10px);
}
.padding-top-15 {
  @include padding-top(15px);
}
.padding-top-20 {
  @include padding-top(20px);
}
.padding-top-25 {
  @include padding-top(25px);
}
/*底部填充*/
.padding-bottom-0 {
  @include padding-bottom(0px);
}
.padding-bottom-5 {
  @include padding-bottom(5px);
}
.padding-bottom-10 {
  @include padding-bottom(10px);
}
.padding-bottom-15 {
  @include padding-bottom(15px);
}
.padding-bottom-20 {
  @include padding-bottom(20px);
}
.padding-bottom-25 {
  @include padding-bottom(25px);
}

/*--------------------------------------
header
------------------------------------------*/
.header{
  position:relative;

  .topbar{
    width: 100%;
    height:30px;
    line-height: 30px;
    background: #f2f2f2;
    border-bottom:1px solid #e7e7e7;
    .topbar-left{float:left;    display: inline;}
    .topbar-right{float:right;    display: inline;}
  }

  .header-nav{
    width:100%;
    height:110px;
    padding:35px;
  }

  .main-nav{
    width: 100%;
    height:39px;
    border-bottom:1px solid #e7e7e7;
  }
}
.main-nav{
  ul,li{
    padding:0;margin:0;
    list-style-type:none;
  }
  ul > li{
    float: left;
    display: inline;
    a{
      display: inline-block;
      line-height: 38px;
      font-size: 16px;
    }
  }

  .nav-allitem{
    position: relative;
    margin-right:20px;
    a{
      width:220px;
      text-align: center;
      border-radius: 3px 3px 0 0;
      padding:0;
      background:$color-theme ;
      color:#fff;

    }
  }
  .nav-link{
    a{
      position: relative;
      padding:0 42px;
      height:40px;
    }
  }
  .nav-link.selected a,
  .nav-link a:hover{
      height:38px;
      color: $color-theme;
      border-bottom:2px solid $color-theme;
      text-decoration:none;
  }
}


/*--------------------------------------
顶部链接
------------------------------------------*/
.topbar-left,
.topbar-right{
  li{
    float:left;
    list-style:none;

    margin: 0 -3px;
    font-size: 12px;
    color: #666;
    line-height: 30px;
  }
  li>a{
    z-index: 1002;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    overflow: hidden;
  }
  li>a>.fa{
    font-size:14px;
    margin-right:5px;
  }
  li.topbar-gap-line{
    margin: 0;
    font-size: 12px;
    color: #ccc;
    line-height: 30px;
  }
}
/*--------------------------------------
logo
------------------------------------------*/
.logo{
  float:left;
  width: 208px;
  height:26px;
  img{
    width:208px;
    height:36px;
  }
}

/*--------------------------------------
内部导航，会员中心
------------------------------------------*/
.header-nav-m{
  display: none;
}

/*--------------------------------------
搜索
------------------------------------------*/
.header-nav-searchbar.input-group {
  float: left;
  display: inline;
  width: 510px;
  margin-left: 200px;
  .form-control{
    display: inherit;
    height:36px;
    width: 420px;
    border:1px solid $color-theme;

    &::-webkit-input-placeholder {
      color: #999;
    }
    &:-ms-input-placeholder { // IE10+
      color: #999;
    }
    &:-moz-placeholder { // Firefox4-18
      color: #999;
    }
    &::-moz-placeholder { // Firefox19+
      color: #999;
    }
  }

  .input-group-btn{
    display: inherit;
    .btn{
      height:36px;
      font-size: 16px;
      width:96px;
      border: 1px solid  $color-theme;
    }
    .btn:hover{
      border:none;
      background: $color-theme;
    }
  }
}


/*--------------------------------------
 我要报盘，我要招标
 ------------------------------------------*/
.header-nav-btn{
  position: relative;
  float: right;
  display: inline;
  .btn.btn-addOffer,
  .btn.btn-addBid{
    width: 120px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #888;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    text-align: center;
    margin-left: 15px;
    &:hover{
      background: $color-theme;
      color:#fff;
      border-color:$color-theme;
    }
  }
}

/*--------------------------------------
页脚
------------------------------------------*/
.footer{
  margin-top: 50px;
  .advertising{
    height:80px;
    background: $color-theme;
    .adver-item{
      padding: 20px 0 20px 50px;
      color: #fff;
      background: url(../images/hzjs.png) 0px 20px no-repeat;
      background-size: 10%;
      .adver-item-t{
        font-size: 16px;
        margin-bottom: 5px;
      }
      .adver-item-c{
        font-size: 12px;
      }
    }
  }
  .footer-link{
    padding:22px 0 22px ;
    border-bottom:1px solid #dfdfdf;
    .fl-title{
      font-size: 16px;
      margin-bottom: 22px;
      color: #444;
    }
    .fl-list,
    .fl-list>li{
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .fl-list{
      width: 200px;
      background: url(../images/footer-link-split.png) right 0px no-repeat;
    }
    .fl-list>li{
      line-height: 24px;
      font-size: 12px;
      color: #666;
    }
    .wxgzh >img{
      vertical-align: text-top;
      border:1px solid #ebebeb;
    }
    .col-md-3:last-child>.fl-list{
      background: none;
      width: auto;
    }
  }
  .copyright{
    background: #f2f2f2;
    border-top:1px solid #fff;
    padding:20px 0;
    text-align: center;
    p{
      margin:0 0 14px;
      font-size: 12px;
      color: #787878;
    }
    img{
      border: 1px solid #e7e8e8;
      margin: 0 12px;
    }
  }
}
/*--------------------------------------
sortbox
------------------------------------------*/
.sortbox{
  position: relative;
  padding:0px 0;
  margin:0 0 26px;
  .btn-group>.btn{
    min-width: 80px;
    padding:6px 18px;
    font-size: 12px;
    color:#787878;
  }
}

/*--------------------------------------
filterbox
------------------------------------------*/
.filterbox{
  position:relative;
  background: #f6f6f6;
  padding:32px 30px;
  margin:25px 0 ;

  .filterbox-label{
    color: #a5a5a5;
    width: 90px;
    padding-right:24px;
    text-align: right;
    font-weight: normal;
  }
}

/*--------------------------------------
注册
------------------------------------------*/
body.register{
  .header{
    height:110px;
    background:url(../images/headbg.jpg) left bottom repeat-x ;
    .logo,.logo-title{
      float: left;
    }
    .logo{
      margin-top: 24px;
      margin-right: 45px;
    }
    .logo-title{
      font-size: 20px;
      margin-top: 34px;
      color: #787878;
    }
    .have-account{
      float: right;
      margin-top: 55px;
      font-size: 16px;
      color: #787878;
    }
  }
  .form-register{
    width: 400px;
    margin: 92px auto;
    .form-group{
      margin-bottom: 30px;
      position: relative;
      .input-group{
        border:1px solid $color-border;
        border-radius: 4px;
        width: 400px;
        .input-group-addon{
         background: none;
          border:none;
          color: #787878;
          width: 80px;
          text-align: left;
        }
        .input-group-btn{padding:2px;}
        .input-group-btn>.btn,
        .input-group-btn>.btn:hover{
          width: 120px;
          border: none;
          height: 48px;
          padding: 6px 10px;
        }
      }
      .form-control{
        padding: 16px 15px;
        line-height: 18px;
        border: none;
        box-shadow: none;
      }
      .btn.btn-block{
        padding: 16px 15px;
        line-height: 16px;
      }
      .form-control::-webkit-input-placeholder{  color:#ccc;  }  /* 使用webkit内核的浏览器 */
      .form-control:-moz-placeholder{color:#ccc;}                  /* Firefox版本4-18 */
      .form-control::-moz-placeholder{color:#ccc;}                  /* Firefox版本19+ */
      .form-control:-ms-input-placeholder{color:#ccc;}           /* IE浏览器 */
    }
    .validetta-msg{
      position: absolute;
      display: table;
      top:0;
      left:0;
      padding-left: 22px;
      font-size: 12px;
      vertical-align:middle;
    }
  }

  &.success{
    color: #787878;
    .form-register{
      width: 500px;
      text-align: center;
      .title{
        font-size: 18px;margin-bottom:30px;
        line-height: 60px;
        img{width: 51px;
          vertical-align: top;
          margin-right: 20px;
        }
      }
      .level{font-size: 16px;margin-bottom:40px;}
      .description{font-size:14px; line-height: 24px; text-align: left;margin-bottom:60px;}
      #register-toVerify{
        width: 400px;
        margin: 0 auto;
      }
    }

  }
}
/*--------------------------------------
会员中心:我的铁矿，我的钢材
侧栏展示
sidebar
------------------------------------------*/
body.member{
  .header>.topbar {
    background: #fff;
    border:none;
  }
  /*会员中心使用*/
  .header-nav{
    height:70px;
    padding:17px 0;
    border-bottom:1px solid #e7e7e7;

    //搜索框
    .input-group.header-nav-searchbar{
      float: right;
      width:302px;
      margin-left: 0px;
      .form-control{
        border:1px solid #dfdfdf;
        width: 220px;
      }
      .input-group-btn{
        .btn{
          height:36px;
          font-size: 14px;
          width:74px;
          border: 1px solid  #dfdfdf;
          background: #f9f9f9;
          color:#5a5a5a;
        }
      }
    }

    //2个快捷按钮，我要报盘，我要招标
    .header-nav-btn{
      display: none;
    }
  }

  /*主导航菜单*/
  .main-nav{
    display: none;
  }

  /*内部导航，会员中心*/
  .header-nav-m{
    display: block;
    float: left;
    margin: 0px 0 0 30px;
    font-size: 16px;
    width: 654px;
    ul>li{
      list-style: none;
      float: left;
      position: static;
      padding: 0 12px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      margin-right: 2px;
      border: 1px solid #fff;
      border-radius: 3px;
      position: relative;
      display: block;
    }
  }

  /*内容容器*/
  .main{
    background-color: #f9f9f9;
    -webkit-font-smoothing: antialiased;
    .container{
      position: relative;
    }
  }

  /*页脚*/
  .footer{
    margin: 0;
    .advertising{display: none;}
    .footer-link{
      background: #323232;
      border-bottom: 1px solid #222;
      .fl-title,.fl-list>li{color:#b3b5ba;}
      .fl-list{
        border-right: 1px solid #444;
        background: none;
      }
      .col-md-3:last-child >.fl-list{
        border: none;
      }
    }
    .copyright{
      background: #323232;
      color: #b3b5ba;
      border-top: 1px solid #444;
    }
  }
}

/*侧栏*/
.sidebar{
  position:absolute;
  left:0;
  top:0;
  width:209px;
  height:100%;
  background-color: #eaedf4;
  border-right: 1px solid #d5d9e2;
  -moz-box-shadow: -1px 1px 6px rgba(0,0,0,.25);
  -webkit-box-shadow: -1px 1px 6px rgba(0,0,0,.25);
  box-shadow: -1px 1px 6px rgba(0,0,0,.25);
}
.sidebar .sidebar-header{
  height:190px;
  min-height: 175px;
  text-align: center;
  padding: 18px 10px 0;
  border-bottom: 1px solid #d8dce5;
}
.sidebar .sidebar-content{

}

/*用户信息*/
.user-info{

  .u-img{
    position: relative;
    height:128px;
    .ui-mask{
      position: absolute;
      top: -8px;
      left: 22px;
      width:144px;
      height:144px;
      background: url(/images/member-portrait.png) 0 0 no-repeat;
    }
    img{
      width: 128px;
      height: 128px;
      border-radius: 50%;
    }
  }
  .u-name{
    height: 24px;
    color: #474e5d;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 5px;
  }
}

/*菜单栏*/
.nav-main{
  min-height: 440px;
  margin-top: -1px;
  padding-bottom: 13px;
}
.nav-main .nav-list li {
 /* height: 44px;
  line-height: 44px;*/
  list-style: none;
}
.nav-main .nav-list li >a {
  position: relative;
  padding-left: 46px;
  height: 34px;
  line-height: 34px;
  display: block;
  font-size: 16px;
  color: #505254;
}
.nav-main .nav-list li >a.selected{
  width: 209px;
  border-top: 1px solid #ced4e0;
  border-bottom: 1px solid #ced4e0;
  border-right: 1px solid #fff;
  background-color: #fff;
}

/*一级*/
.nav-main .nav-list > li{padding:10px 0;}
/*二级*/
.nav-main .nav-list > li >ul li a{
  height: 34px;
  line-height: 34px;
  font-size: 14px;
}
.nav-main .nav-list > li > ul > li >a:before{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  display: inline-block;
  font-family: 'FontAwesome';
  content: "\F105";
}


/*内容容器*/
.content{
  -moz-box-shadow: 3px 3px 2px rgba(0,0,0,.04);
  -webkit-box-shadow: 3px 3px 2px rgba(0,0,0,.04);
  box-shadow: 3px 3px 2px rgba(0,0,0,.04);
  position: relative;
  min-height: 1000px;
  _height: 1000px;
  z-index: 20;
  margin-left: 209px;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
}
.content .userContent{
  padding:0 40px 0 40px;
}

/*报盘分类*/
.type-title{
  position: relative;
  padding:30px 0 40px;
}
.type-title .t-title{
  color: #474e5d;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid #ced4e0;
}
.type-title .t-title a{
  position: relative;
  display: inline-block;
  padding:0 0px;
  width:111px;
  height:40px;
  line-height: 40px;
  text-align: center;
  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
  }
}
.type-title .t-title a.selected{
  color:#de211d;
}
.type-title .t-title a.selected:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #de211d;
  left: 0;
  bottom: -2px;
}
.type-title  .t-t-line {
  margin: 0 0px;
  color: #ced4e0;
}

.box-container{
  border:1px solid rgba(0, 0, 0, 0.075);
  padding:15px 10px 0px 10px;
  position: relative;
  margin-bottom: 15px;
}
.box-container-title{
  background: #fff;
  width: 100%;
  padding: 10px 15px;
  line-height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  background: rgba(0, 0, 0, 0.025);
  border-bottom:none;
  cursor: pointer;
}
.box-container-title.collapsed{
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  margin-bottom: 15px;
  .fa-caret-down:before{
    content:"\f0d8";
  }
}


/*--------------------------------------

------------------------------------------*/
/*报盘交易对象框*/
.offer-tradeCustomer-box{
  width: 100%;
  border: 1px solid $color-border;
  height:150px;
  overflow-y: auto;
  position: relative;
  .mask-click{
    display: none;
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    .click-text{
      display: block;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      cursor: pointer;
      position: absolute;
      top: 50%;
      margin-top: -12px;
    }
  }
  &.hover{
    .mask-click{
      display: block;
    }
  }
}
/*报盘指标类型*/
.offerKpi{
  padding-top:7px;
}
/*报盘指标输入框*/
.offer-kip-table{
  width: 500px;
  th{ font-weight: normal; text-align: center; color: $color-label;}
  td{padding:0 2px;}
  td>input[type=text]{
    text-align: center;
  }
}
/*报盘内容分割*/
.offer-content-slicer{
  position: relative;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #c2c2c2;

  .slicer-text{
    position: absolute;
    bottom:-13px;
    left: 50%;
    margin-left:-100px;
    color:$color-theme;
    text-align: center;
    min-width:200px;
    font-size: 12px;
    background: #fff;
  }
}

/*报盘条款内本文框*/
.offer-rule.form-horizontal>.form-group {
  color: $color-label;
  line-height: 30px;
  .control-label{
    padding-top:0
  }
  .offer-rule-f-c{
    margin:0 3px;
    width:100px;
    border:none;
    border-bottom:1px solid $color-border;
    &:focus{
      border-color:$color-border-light;
      outline: none;
    }
  }
  select.form-control{
    border: none;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    width: 100px;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
  }
}
.offer-rule-buttons{
  text-align: center;
  margin-top: 15px;
  .btn{
    width: 120px;
    margin: 0 20px;
  }
}
#form-offer{
  i.text-danger{
    margin-right: 4px;
  }
}

/*--------------------------------------
member
用户信息,头像，手机号编辑
------------------------------------------*/
.update-head{
  color: #999;
  .uh-left {
    float: left;
    display: inline;
    width: 602px;
    padding-right: 30px;
    border-right: 1px solid #e9eaec;
    .choose-file {
      margin-bottom: 10px;
      .update-btn {
        background: url(../images/head/update-btn.png) 0 0 no-repeat;
        margin-bottom: 3px;
      }
    }
  }
  .img-count {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #f9f9f9;
    border: 1px solid #e9eaec;
    margin-bottom: 20px;
  }
  .img-big {
    width: 602px;
    height: 300px;
  }
  .btn-file{
    position: relative;
    display: inline-block;
    padding: 4px 15px;
    height: 20px;
    overflow: hidden;
    color: #333;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    border: 1px solid #DCDCDC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
    background: #EEEEEE;
  }
  .save{
    padding: 10px 0 50px 0;
  }

  .uh-right {
    float: left;
    display: inline;
    width: 247px;
    padding-left: 30px;
    h3{
      font-size: 15px;
      font-weight: bold;
      color: $color-text;
      margin: 0;
    }
    .preview-container{
      position: relative;
      margin-top:20px;
    }
    .preview-container1{width:150px;height:150px;margin-top:0;}
    .preview-container2{width:100px;height:100px;margin-top:0;}
    .size{
      margin-top:2px;
    }
  }

}

/*--------------------------------------
member
企业认证,证件照片
------------------------------------------*/
.img-uploadPhoto{
  .btn-file{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 0px;
    z-index: 3;
    height: 100%;
    padding-top: 30%;
    &:hover{
      text-decoration: none;
    }
    .text-new{
      display: block;
    }
    .text-update{
      display: none;
    }
  }
  img{
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
  }
  &.hasImage{
    .btn-file{
      background: rgba(0,0,0,0.4);
      color:#fff;
      &:before{
        content:"\f021";
      }
      .text-update{
        display: block;
      }
      .text-new{
        display: none;
      }
    }
  }
}
/*--------------------------------------
member
账号安全,
------------------------------------------*/
.accoutSafe-item-list{
  margin-bottom: -21px;
  overflow: hidden;
  .safe-item{
    display: block;
    padding: 30px 0;
    border-bottom: 1px solid #e6e6e6;
    .item1,.item2,.item3{
      float: left;
      height: 32px;
      line-height: 32px;
    }
    .item1{
      width: 175px;
      text-align: left;
      font-family: \5FAE\8F6F\96C5\9ED1;
      font-size: 18px;
      padding-left: 25px;
      .fa{
        font-size: 32px;
        margin-right: 32px;
        margin-top: -5px;
        vertical-align: middle;
      }
    }
    .item2 {
      border-left: 1px solid #E6E6E6;
      width: 450px;
      height: auto;
      line-height: 24px;
      padding: 4px 0 4px 15px;
    }
    .item3 {
      text-align: center;
      width: 140px;
    }
    .item-text{
      color: $color-gray-2;
    }
  }

  .safe-item .item1 strong {
    margin-right: 5px;
  }
}

/*--------------------------------------
member
修改密码步骤,
------------------------------------------*/
.updateForm-step {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
  width: 480px;
  >li{
    float: left;
    position: relative;
    width: 160px;
    top: -5px;
    border-top: 5px solid $color-gray-3;
    text-align: center;
  }
  >li .up-s-num{
    position: relative;
    margin: -15px auto 0;
    color: #fff;
    font-weight: 700;
    width: 23px;
    height: 23px;
    background: $color-gray-3;
    line-height: 23px;
    border-radius: 50%;
  }
  /*进行中*/
  >li.active{
    border-color:$color-success;
  }
  >li.active .up-s-num {
    background:$color-success;
  }
  >li.active .up-s-text{
    color: $color-success;
  }
  /*完成*/
  >li.done{
    border-color:#B6E8D5;
  }
  >li.done .up-s-num {
    background:#B6E8D5;
  }
  >li.done .up-s-text{
    color: #B6E8D5;
  }
}
.updateForm-step-content {
  .finish {
    font-size: 14px;
    color: #666;
    padding: 50px 0 50px 0px;
    text-align: center;
    line-height: 24px;
    border: 1px solid #ececec;
  }
}