@charset "UTF-8";
/*--------------------------------
变量
-----------------------------------------*/
/*--------------------------------

-----------------------------------------*/
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 1200px; }

ul, li {
  margin: 0;
  padding: 0; }

.no-radius {
  border-radius: 0 !important; }

/*--------------------------------
字符大小
-----------------------------------------*/
.fs-12 {
  font-size: 12px !important; }

.fs-14 {
  font-size: 14px !important; }

.fs-16 {
  font-size: 16px !important; }

.fs-18 {
  font-size: 18px !important; }

.fs-22 {
  font-size: 22px !important; }

.fs-24 {
  font-size: 24px !important; }

.fs-36 {
  font-size: 36px !important; }

/*--------------------------------
颜色
-----------------------------------------*/
.text-default {
  color: #4B4C4D; }

.text-gray {
  color: #666666; }

.text-gray-low {
  color: #999999; }

.text-info {
  color: #20b0de !important; }

.text-danger {
  color: #de211d !important; }

.text-warning {
  color: #fc9a2f !important; }

.text-success {
  color: #3DC18E !important; }

.bg-fff {
  background: #fff; }

.bg-f5f5f5 {
  background: #f5f5f5; }

/*--------------------------------
文本位置
-----------------------------------------*/
.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

/*--------------------------------
缩略语
-----------------------------------------*/
abbr[title], abbr[data-original-title] {
  border: none; }

/*--------------------------------
width 宽度
-----------------------------------------*/
.widthAuto {
  width: auto; }

.widthFull {
  width: 100%; }

.width100 {
  width: 100px; }

.width120 {
  width: 120px; }

.width140 {
  width: 140px; }

/*--------------------------------
margin 留白
-----------------------------------------*/
.margin-lr-auto {
  margin-left: auto;
  margin-right: auto; }

/*无留白*/
.margin0 {
  margin: 0 !important; }

/*左侧留白*/
.margin-left-5 {
  margin-left: 5px; }

.margin-left-10 {
  margin-left: 10px; }

.margin-left-15 {
  margin-left: 15px; }

.margin-left-20 {
  margin-left: 20px; }

.margin-left-25 {
  margin-left: 25px; }

/*右侧留白*/
.margin-right-5 {
  margin-right: 5px; }

.margin-right-10 {
  margin-right: 10px; }

.margin-right-15 {
  margin-right: 15px; }

.margin-right-20 {
  margin-right: 20px; }

.margin-right-25 {
  margin-right: 25px; }

/*顶部留白*/
.margin-top-5 {
  margin-top: 5px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-25 {
  margin-top: 25px; }

/*底部留白*/
.margin-bottom-5 {
  margin-bottom: 5px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-bottom-25 {
  margin-bottom: 25px; }

/*--------------------------------
padding 填充
-----------------------------------------*/
/*无填充*/
.padding0 {
  padding: 0 !important; }

.padding10 {
  padding: 10px !important; }

.padding20 {
  padding: 20px !important; }

/*左侧填充*/
.padding-left-5 {
  padding-left: 5px; }

.padding-left-10 {
  padding-left: 10px; }

.padding-left-15 {
  padding-left: 15px; }

.padding-left-20 {
  padding-left: 20px; }

.padding-left-25 {
  padding-left: 25px; }

/*右侧填充*/
.padding-right-5 {
  padding-right: 5px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-right-15 {
  padding-left: 15px; }

.padding-right-20 {
  padding-right: 20px; }

.padding-right-25 {
  padding-right: 25px; }

/*顶部填充*/
.padding-top-5 {
  padding-top: 5px; }

.padding-top-10 {
  padding-top: 10px; }

.padding-top-15 {
  padding-top: 15px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-top-25 {
  padding-top: 25px; }

/*底部填充*/
.padding-bottom-5 {
  padding-bottom: 5px; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.padding-bottom-15 {
  padding-bottom: 15px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-bottom-25 {
  padding-bottom: 25px; }

/*--------------------------------------
header
------------------------------------------*/
.header {
  position: relative; }
  .header .topbar {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #f2f2f2;
    border-bottom: 1px solid #e7e7e7; }
    .header .topbar .topbar-left {
      float: left;
      display: inline; }
    .header .topbar .topbar-right {
      float: right;
      display: inline; }
  .header .header-nav {
    width: 100%;
    height: 110px;
    padding: 35px; }
  .header .main-nav {
    width: 100%;
    height: 39px;
    border-bottom: 1px solid #e7e7e7; }

.main-nav ul, .main-nav li {
  padding: 0;
  margin: 0;
  list-style-type: none; }
.main-nav ul > li {
  float: left;
  display: inline; }
  .main-nav ul > li a {
    display: inline-block;
    line-height: 38px;
    font-size: 16px; }
.main-nav .nav-allitem {
  position: relative;
  margin-right: 20px; }
  .main-nav .nav-allitem a {
    width: 220px;
    text-align: center;
    border-radius: 3px 3px 0 0;
    padding: 0;
    background: #de211d;
    color: #fff; }
.main-nav .nav-link a {
  position: relative;
  padding: 0 42px;
  height: 40px; }
.main-nav .nav-link.selected a,
.main-nav .nav-link a:hover {
  height: 38px;
  color: #de211d;
  border-bottom: 2px solid #de211d;
  text-decoration: none; }

/*--------------------------------------
顶部链接
------------------------------------------*/
.topbar-left li,
.topbar-right li {
  float: left;
  list-style: none;
  margin: 0 -3px;
  font-size: 12px;
  color: #666;
  line-height: 30px; }
.topbar-left li > a,
.topbar-right li > a {
  z-index: 1002;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  overflow: hidden; }
.topbar-left li > a > .fa,
.topbar-right li > a > .fa {
  font-size: 14px;
  margin-right: 5px; }
.topbar-left li.topbar-gap-line,
.topbar-right li.topbar-gap-line {
  margin: 0;
  font-size: 12px;
  color: #ccc;
  line-height: 30px; }

/*--------------------------------------
logo
------------------------------------------*/
.logo {
  float: left;
  width: 208px;
  height: 26px; }
  .logo img {
    width: 208px;
    height: 36px; }

/*--------------------------------------
内部导航，会员中心
------------------------------------------*/
.header-nav-m {
  display: none; }

/*--------------------------------------
搜索
------------------------------------------*/
.header-nav-searchbar.input-group {
  float: left;
  display: inline;
  width: 510px;
  margin-left: 200px; }
  .header-nav-searchbar.input-group .form-control {
    display: inherit;
    height: 36px;
    width: 420px;
    border: 1px solid #de211d; }
    .header-nav-searchbar.input-group .form-control::-webkit-input-placeholder {
      color: #999; }
    .header-nav-searchbar.input-group .form-control:-ms-input-placeholder {
      color: #999; }
    .header-nav-searchbar.input-group .form-control:-moz-placeholder {
      color: #999; }
    .header-nav-searchbar.input-group .form-control::-moz-placeholder {
      color: #999; }
  .header-nav-searchbar.input-group .input-group-btn {
    display: inherit; }
    .header-nav-searchbar.input-group .input-group-btn .btn {
      height: 36px;
      font-size: 16px;
      width: 96px;
      border: 1px solid #de211d; }
    .header-nav-searchbar.input-group .input-group-btn .btn:hover {
      border: none;
      background: #de211d; }

/*--------------------------------------
 我要报盘，我要招标
 ------------------------------------------*/
.header-nav-btn {
  position: relative;
  float: right;
  display: inline; }
  .header-nav-btn .btn.btn-addOffer,
  .header-nav-btn .btn.btn-addBid {
    width: 120px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #888;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    text-align: center;
    margin-left: 15px; }
    .header-nav-btn .btn.btn-addOffer:hover,
    .header-nav-btn .btn.btn-addBid:hover {
      background: #de211d;
      color: #fff;
      border-color: #de211d; }

/*--------------------------------------
页脚
------------------------------------------*/
.footer {
  margin-top: 50px; }
  .footer .advertising {
    height: 80px;
    background: #de211d; }
    .footer .advertising .adver-item {
      padding: 20px 0 20px 50px;
      color: #fff;
      background: url(../images/hzjs.png) 0px 20px no-repeat;
      background-size: 10%; }
      .footer .advertising .adver-item .adver-item-t {
        font-size: 16px;
        margin-bottom: 5px; }
      .footer .advertising .adver-item .adver-item-c {
        font-size: 12px; }
  .footer .footer-link {
    padding: 22px 0 22px;
    border-bottom: 1px solid #dfdfdf; }
    .footer .footer-link .fl-title {
      font-size: 16px;
      margin-bottom: 22px;
      color: #444; }
    .footer .footer-link .fl-list,
    .footer .footer-link .fl-list > li {
      margin: 0;
      padding: 0;
      list-style: none; }
    .footer .footer-link .fl-list {
      width: 200px;
      background: url(../images/footer-link-split.png) right 0px no-repeat; }
    .footer .footer-link .fl-list > li {
      line-height: 24px;
      font-size: 12px;
      color: #666; }
    .footer .footer-link .wxgzh > img {
      vertical-align: text-top;
      border: 1px solid #ebebeb; }
    .footer .footer-link .col-md-3:last-child > .fl-list {
      background: none;
      width: auto; }
  .footer .copyright {
    background: #f2f2f2;
    border-top: 1px solid #fff;
    padding: 20px 0;
    text-align: center; }
    .footer .copyright p {
      margin: 0 0 14px;
      font-size: 12px;
      color: #787878; }
    .footer .copyright img {
      border: 1px solid #e7e8e8;
      margin: 0 12px; }

/*--------------------------------------
sortbox
------------------------------------------*/
.sortbox {
  position: relative;
  padding: 0px 0;
  margin: 0 0 26px; }
  .sortbox .btn-group > .btn {
    min-width: 80px;
    padding: 6px 18px;
    font-size: 12px;
    color: #787878; }

/*--------------------------------------
filterbox
------------------------------------------*/
.filterbox {
  position: relative;
  background: #f6f6f6;
  padding: 32px 30px;
  margin: 25px 0; }
  .filterbox .filterbox-label {
    color: #a5a5a5;
    width: 90px;
    padding-right: 24px;
    text-align: right;
    font-weight: normal; }

/*--------------------------------------
注册
------------------------------------------*/
body.register .header {
  height: 110px;
  background: url(../images/headbg.jpg) left bottom repeat-x; }
  body.register .header .logo, body.register .header .logo-title {
    float: left; }
  body.register .header .logo {
    margin-top: 24px;
    margin-right: 45px; }
  body.register .header .logo-title {
    font-size: 20px;
    margin-top: 34px;
    color: #787878; }
  body.register .header .have-account {
    float: right;
    margin-top: 55px;
    font-size: 16px;
    color: #787878; }
body.register .form-register {
  width: 400px;
  margin: 92px auto; }
  body.register .form-register .form-group {
    margin-bottom: 30px;
    /* 使用webkit内核的浏览器 */
    /* Firefox版本4-18 */
    /* Firefox版本19+ */
    /* IE浏览器 */ }
    body.register .form-register .form-group .input-group {
      border: 1px solid #e4e4e4;
      border-radius: 4px;
      width: 400px; }
      body.register .form-register .form-group .input-group .input-group-addon {
        background: none;
        border: none;
        color: #787878;
        width: 80px;
        text-align: left; }
      body.register .form-register .form-group .input-group .input-group-btn {
        padding: 2px; }
      body.register .form-register .form-group .input-group .input-group-btn > .btn,
      body.register .form-register .form-group .input-group .input-group-btn > .btn:hover {
        width: 100px;
        border: none;
        height: 48px;
        padding: 6px 10px; }
    body.register .form-register .form-group .form-control {
      padding: 16px 15px;
      line-height: 18px;
      border: none;
      box-shadow: none; }
    body.register .form-register .form-group .btn.btn-block {
      padding: 16px 15px;
      line-height: 16px; }
    body.register .form-register .form-group .form-control::-webkit-input-placeholder {
      color: #ccc; }
    body.register .form-register .form-group .form-control:-moz-placeholder {
      color: #ccc; }
    body.register .form-register .form-group .form-control::-moz-placeholder {
      color: #ccc; }
    body.register .form-register .form-group .form-control:-ms-input-placeholder {
      color: #ccc; }
body.register.success {
  color: #787878; }
  body.register.success .form-register {
    width: 500px;
    text-align: center; }
    body.register.success .form-register .title {
      font-size: 18px;
      margin-bottom: 30px;
      line-height: 60px; }
      body.register.success .form-register .title img {
        width: 51px;
        vertical-align: top;
        margin-right: 20px; }
    body.register.success .form-register .level {
      font-size: 16px;
      margin-bottom: 40px; }
    body.register.success .form-register .description {
      font-size: 14px;
      line-height: 24px;
      text-align: left;
      margin-bottom: 60px; }
    body.register.success .form-register #register-toVerify {
      width: 400px;
      margin: 0 auto; }

/*--------------------------------------
会员中心:我的铁矿，我的钢材
侧栏展示
sidebar
------------------------------------------*/
body.member {
  /*会员中心使用*/
  /*主导航菜单*/
  /*内部导航，会员中心*/
  /*内容容器*/
  /*页脚*/ }
  body.member .header > .topbar {
    background: #fff;
    border: none; }
  body.member .header-nav {
    height: 70px;
    padding: 17px 0;
    border-bottom: 1px solid #e7e7e7; }
    body.member .header-nav .input-group.header-nav-searchbar {
      float: right;
      width: 302px;
      margin-left: 0px; }
      body.member .header-nav .input-group.header-nav-searchbar .form-control {
        border: 1px solid #dfdfdf;
        width: 220px; }
      body.member .header-nav .input-group.header-nav-searchbar .input-group-btn .btn {
        height: 36px;
        font-size: 14px;
        width: 74px;
        border: 1px solid  #dfdfdf;
        background: #f9f9f9;
        color: #5a5a5a; }
    body.member .header-nav .header-nav-btn {
      display: none; }
  body.member .main-nav {
    display: none; }
  body.member .header-nav-m {
    display: block;
    float: left;
    margin: 0px 0 0 30px;
    font-size: 16px;
    width: 654px; }
    body.member .header-nav-m ul > li {
      list-style: none;
      float: left;
      position: static;
      padding: 0 12px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      margin-right: 2px;
      border: 1px solid #fff;
      border-radius: 3px;
      position: relative;
      display: block; }
  body.member .main {
    background-color: #f9f9f9;
    -webkit-font-smoothing: antialiased; }
    body.member .main .container {
      position: relative; }
  body.member .footer .advertising {
    display: none; }
  body.member .footer .footer-link {
    background: #323232;
    border-bottom: 1px solid #222; }
    body.member .footer .footer-link .fl-title, body.member .footer .footer-link .fl-list > li {
      color: #b3b5ba; }
    body.member .footer .footer-link .fl-list {
      border-right: 1px solid #444;
      background: none; }
    body.member .footer .footer-link .col-md-3:last-child > .fl-list {
      border: none; }
  body.member .footer .copyright {
    background: #323232;
    color: #b3b5ba;
    border-top: 1px solid #444; }

/*侧栏*/
.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 209px;
  height: 100%;
  background-color: #eaedf4;
  border-right: 1px solid #d5d9e2;
  -moz-box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.25); }

.sidebar .sidebar-header {
  height: 190px;
  min-height: 175px;
  text-align: center;
  padding: 18px 10px 0;
  border-bottom: 1px solid #d8dce5; }

/*用户信息*/
.user-info .u-img {
  position: relative;
  height: 128px; }
  .user-info .u-img .ui-mask {
    position: absolute;
    top: -8px;
    left: 22px;
    width: 144px;
    height: 144px;
    background: url(/images/member-portrait.png) 0 0 no-repeat; }
  .user-info .u-img img {
    width: 128px;
    height: 128px;
    border-radius: 50%; }
.user-info .u-name {
  height: 24px;
  color: #474e5d;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 5px; }

/*菜单栏*/
.nav-main {
  min-height: 440px;
  margin-top: -1px;
  padding-bottom: 13px; }

.nav-main .nav-list li {
  /* height: 44px;
   line-height: 44px;*/
  list-style: none; }

.nav-main .nav-list li > a {
  position: relative;
  padding-left: 46px;
  height: 28px;
  line-height: 28px;
  display: block;
  font-size: 16px;
  color: #505254; }

.nav-main .nav-list li > a.selected {
  width: 209px;
  border-top: 1px solid #ced4e0;
  border-bottom: 1px solid #ced4e0;
  border-right: 1px solid #fff;
  background-color: #fff; }

/*一级*/
.nav-main .nav-list > li {
  padding: 10px 0; }

/*二级*/
.nav-main .nav-list > li > ul li a {
  height: 34px;
  line-height: 34px;
  font-size: 14px; }

.nav-main .nav-list > li > ul > li > a:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  display: inline-block;
  font-family: 'FontAwesome';
  content: "\F105"; }

/*内容容器*/
.content {
  -moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.04);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.04);
  position: relative;
  min-height: 1000px;
  _height: 1000px;
  z-index: 20;
  margin-left: 209px;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5; }

.content .userContent {
  padding: 0 40px 0 40px; }

/*报盘分类*/
.type-title {
  position: relative;
  padding: 30px 0 40px; }

.type-title .t-title {
  color: #474e5d;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid #ced4e0; }

.type-title .t-title a {
  position: relative;
  display: inline-block;
  padding: 0 0px;
  width: 111px;
  height: 40px;
  line-height: 40px;
  text-align: center; }
  .type-title .t-title a:hover, .type-title .t-title a:focus, .type-title .t-title a:active {
    text-decoration: none; }

.type-title .t-title a.selected {
  color: #de211d; }

.type-title .t-title a.selected:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #de211d;
  left: 0;
  bottom: -2px; }

.type-title .t-t-line {
  margin: 0 0px;
  color: #ced4e0; }

.box-container {
  border: 1px solid #ccc;
  padding: 15px 10px 0px 10px;
  position: relative;
  margin-bottom: 15px; }
  .box-container .box-container-title {
    background: #fff;
    width: 100px;
    height: 30px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-left: -11px;
    margin-top: -16px;
    text-align: center;
    margin-bottom: 20px; }

/*--------------------------------------

------------------------------------------*/
/*报盘交易对象框*/
.offer-tradeCustomer-box {
  width: 100%;
  border: 1px solid #e4e4e4;
  height: 150px;
  overflow-y: auto;
  position: relative; }
  .offer-tradeCustomer-box .mask-click {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0; }
    .offer-tradeCustomer-box .mask-click .click-text {
      display: block;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      cursor: pointer;
      position: absolute;
      top: 50%;
      margin-top: -12px; }
  .offer-tradeCustomer-box.hover .mask-click {
    display: block; }

/*报盘指标类型*/
.offerKpi {
  padding-top: 7px; }

/*报盘指标输入框*/
.offer-kip-table {
  width: 500px; }
  .offer-kip-table th {
    font-weight: normal;
    text-align: center;
    color: #787878; }
  .offer-kip-table td {
    padding: 0 2px; }
  .offer-kip-table td > input[type=text] {
    text-align: center; }

/*报盘内容分割*/
.offer-content-slicer {
  position: relative;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #c2c2c2; }
  .offer-content-slicer .slicer-text {
    position: absolute;
    bottom: -13px;
    left: 50%;
    margin-left: -100px;
    color: #de211d;
    text-align: center;
    min-width: 200px;
    font-size: 12px;
    background: #fff; }

/*报盘条款内本文框*/
.offer-rule.form-horizontal > .form-group {
  color: #787878;
  line-height: 30px; }
  .offer-rule.form-horizontal > .form-group .control-label {
    padding-top: 0; }
  .offer-rule.form-horizontal > .form-group .offer-rule-f-c {
    margin: 0 3px;
    width: 100px;
    border: none;
    border-bottom: 1px solid #e4e4e4; }
    .offer-rule.form-horizontal > .form-group .offer-rule-f-c:focus {
      border-color: #aaa;
      outline: none; }
  .offer-rule.form-horizontal > .form-group select.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    width: 100px;
    border-radius: 0;
    box-shadow: none;
    text-align: center; }

.offer-rule-buttons {
  text-align: center;
  margin-top: 15px; }
  .offer-rule-buttons .btn {
    width: 120px;
    margin: 0 20px; }

/*--------------------------------------
member
用户信息,头像，手机号编辑
------------------------------------------*/
.update-head {
  color: #999; }
  .update-head .uh-left {
    float: left;
    display: inline;
    width: 602px;
    padding-right: 30px;
    border-right: 1px solid #e9eaec; }
    .update-head .uh-left .choose-file {
      margin-bottom: 10px; }
      .update-head .uh-left .choose-file .update-btn {
        background: url(../images/head/update-btn.png) 0 0 no-repeat;
        margin-bottom: 3px; }
  .update-head .img-count {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #f9f9f9;
    border: 1px solid #e9eaec;
    margin-bottom: 20px; }
  .update-head .img-big {
    width: 602px;
    height: 300px; }
  .update-head .btn-file {
    position: relative;
    display: inline-block;
    padding: 4px 15px;
    height: 20px;
    overflow: hidden;
    color: #333;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    border: 1px solid #DCDCDC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
    background: #EEEEEE; }
  .update-head .save {
    padding: 10px 0 50px 0; }
  .update-head .uh-right {
    float: left;
    display: inline;
    width: 247px;
    padding-left: 30px; }
    .update-head .uh-right h3 {
      font-size: 15px;
      font-weight: bold;
      color: #4B4C4D;
      margin: 0; }
    .update-head .uh-right .preview-container {
      position: relative;
      margin-top: 20px; }
    .update-head .uh-right .preview-container1 {
      width: 150px;
      height: 150px;
      margin-top: 0; }
    .update-head .uh-right .preview-container2 {
      width: 100px;
      height: 100px;
      margin-top: 0; }
    .update-head .uh-right .size {
      margin-top: 2px; }

/*# sourceMappingURL=style.css.map */
