<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/frontCode" />
<body>

<!--页头，菜单-->
<div th:replace="fragments/head::header"></div>


<!--展示内容-->
<div class="main">
    <div class="container">
        <!--过滤-->
        <div class="filterbox">
            <!--交易类型-->
            <div class="row">
                <div class="col-md-2 filterbox-label">交易形式<h1 th:text="${message}"></h1></div>
                <div class="cold-md-10">
                    <div id="component-filter-tradeType"></div>
                </div>
            </div>
            <!--港口-->
            <div class="row">
                <div class="col-md-2 filterbox-label">港口</div>
                <div class="cold-md-10">
                    <div id="component-filter-tradePort"></div>
                </div>
            </div>
            <!--品位-->
            <div class="row">
                <div class="col-md-2 filterbox-label">品位</div>
                <div class="cold-md-10">
                    <div id="component-filter-tradeBrand"></div>
                </div>
            </div>
        </div>

        <!--排序-->
        <div id="component-tradeSortGroup" class="sortbox"></div>

        <!--卡片-->
        <div id="component-tradeCardList"></div>
    </div>
</div>


<!--页脚，链接-->
<div th:replace="fragments/foot::footer"></div>

<!--组件：排序-->
<link rel="stylesheet" th:href="@{/js/component/SortGroupButton/SortGroupButton.css}"/>
<script th:src="@{/js/component/SortGroupButton/SortButton.js}"></script>
<script th:src="@{/js/component/SortGroupButton/SortGroupButton.js}"></script>
<script th:src="@{/js/component/component.SortGroupButton.js}"></script>
<!--组件：卡片-->
<link rel="stylesheet" th:href="@{/js/component/Card/EsteelCard.css}"/>
<script th:src="@{/js/component/Card/EsteelCard.es2016.js}"></script>
<!--控制-->
<script th:src="@{/js/module/trade/trade.list.js}"></script>
<script th:src="@{/js/module/trade/trade.js}" th:inline="javascript">var msg = [[${message}]]</script>
</body>
</html>